.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
.pytest_cache
.mypy_cache
.coverage
htmlcov/
coverage.xml
notebooks/
tests/
docs/
*.md
!README.md
.env
.pre-commit-config.yaml
poetry.lock
