# Python
__pycache__/
*.py.[oe]
.Python-version
*.egg
*.egg-info
.eggs/
dist/
build/
*.whl

# Virtual environments
.venv/
env/
ENV/
venv/
.venv

# Tests & coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# IDEs
.vscode/
.idea/
*.tmpproj
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
!.env.example

# Logs
logs/
*.rotating

# Models / large files
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints
*.ipynb
